/* ////////////////////////////////////// */
/* Reset de la page */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background-color: #fcfcfc;
}
/* ////////////////////////////////////// */

/* ////////////////////////////////////// */
/* Header */
.header {
  position: sticky;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
  z-index: 1000;
}

/* Conteneur interne du header */
.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Identité */
.identity {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  font-weight: 500;
}

/* Menu de navigation */
.main-nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}
.main-nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  border-bottom: 2px solid transparent;
}
.main-nav a:hover {
  color: #913434;
  border-bottom-color: #913434;
}

/* Menu burger */
.burger {
  display: none;
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}
/* ////////////////////////////////////// */

/* ////////////////////////////////////// */
/* Main */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

h1 {
  margin: 3rem 0 2rem;
  font-size: clamp(1.6rem, 4vw, 2.2rem);
  line-height: 1.3;
}

/* Section - Liste des exercices */
.exercices-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Liste des exercices sur 2 colonnes (si ce n'est pas en version mobile) */
@media (min-width: 768px) {
  .exercices-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Chaque exercice à sa "carte" */
.card {
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #913434;
}

.exercices {
  margin-top: 3rem;
}

.exercices h2 {
  margin-bottom: 1.5rem;
}

.card h3 {
  margin: 0;
}

.card p {
  margin: 0;
  color: #555;
  font-weight: 500;
}

/* Liens */
.links {
  margin-top: auto;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  padding-top: 20px;
}

.links a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #000;
  border-bottom: 2px solid transparent;
}

.links a:hover {
  color: #913434;
  border-bottom-color: #913434;
}

/* Section - Projet Nuxt */
.projet-nuxt {
  margin-top: 4rem;
}

.nuxt-home-img {
  display: block;
  margin: 2rem auto;
  max-width: 100%;
  width: 1200px;
  border-radius: 8px;
  border: 3px solid #000000;
}

/* ////////////////////////////////////// */

/* ////////////////////////////////////// */
/* Footer */
.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 4rem;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #555;
}
/* ////////////////////////////////////// */

/* ////////////////////////////////////// */
/* Version mobile */
@media (max-width: 768px) {
  body::-webkit-scrollbar {
    width: 0 !important;
  }

  .container {
    padding: 0 1.25rem;
  }

  .burger {
    display: block;
    z-index: 1100;
  }

  .main-nav {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: none;
    z-index: 1000;
  }
  .main-nav ul {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }
  .main-nav a {
    font-size: 1.5rem;
  }
  .main-nav.active {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s ease;
  }
}
/* ////////////////////////////////////// */
